<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Example Suite" verbose="1">
    <!-- Login Test Group -->
    <test name="Login Test Group">
        <classes>
            <class name="LoginTests" />
        </classes>
    </test>

    <!-- Registration Test Group -->
    <test name="Registration Test Group">
        <classes>
            <class name="RegistrationTests" />
        </classes>
    </test>
</suite>
